# Copyright (c) 2025 Karl Lenz <xorangekiller@gmail.com>
# SPDX-License-Identifier: MIT

# Directory used to store dependencies needed by the unit tests
/.deps

# Temporary directory used by the unit tests
.scratch
